@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.swoosh-wrap {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.swoosh {
  position: absolute;
  left: 5px;
  bottom: -12px;
  width: 90%;
  height: 40px;
}

.swoosh path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawLine 3s 1 ease-out forwards;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

.bg_icon {
  position: relative;
}

.bg_icon img {
  width: 70px;
  height: 70px;
}

.bg_icon .bg_icon_1 {
  position: absolute;
  left: 80px;
  top: 0px;
  animation: bgicon 2s infinite alternate linear;
  z-index: 10;
}

.bg_icon .bg_icon_2 {
  position: absolute;
  top: 140px;
  right: 80px;
  animation: bgicon 2s infinite alternate linear;
  z-index: 10;
}

@keyframes bgicon {
  from {
    transform: translateY(-25px);
  }

  to {
    transform: translateY(25px);
  }
}

.intern_bg_icon {
  position: relative;
}

.intern_bg_icon img {
  height: 100px;
  width: 120px;
  position: absolute;
  top: 500px;
  left: 1%;
}

.internship-container {
  margin: 3% 0;
  font-family: "Josefin Sans", sans-serif;
}

.internship-content {
  display: grid;
  grid-template-columns: 2.5fr 1.7fr;
  align-items: center;
  justify-items: center;
  padding: 3% 0;
  gap: 20px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

#itext {
  display: grid;
  row-gap: 40px;
}

#ihead {
  font-size: 4rem;
  font-weight: 500;
  line-height: 70px;
}

#ipara {
  font-size: 1.3rem;
  color: #001367;
}

.intern-text {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(270deg, #026ac5, #33e7f1);
  animation: text infinite 3s linear alternate;
  background-size: 200% auto;
}

@keyframes text {
  0% {
    background-position: 100% center;
  }

  100% {
    background-position: 0% center;
  }
}

.intern-banner {
  background: linear-gradient(to right bottom, #39a0fb, #01d3de);
  display: grid;
  padding: 3% 0;
  place-content: center;
}

.intern-banner h1 {
  color: white;
}

.internship-courses {
  background-color: #f5f5f5;
  padding: 30px;
  margin: 3% 0;
}

.trending {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 40px;
  justify-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.card1 {
  max-width: 100%;
  height: 330px;
  box-shadow: 2px 0px 10px 0px rgba(61, 61, 61, 0.5);
  background-color: #fff;
  transition: transform 0.3s;
  border-radius: 15px;
  position: relative;
}

.card1:hover {
  transform: translateY(-5px);
  box-shadow: 4px 0px 10px 0px rgba(3, 3, 3, 0.9);
}

.tagname {
  position: absolute;
  top: 38%;
  right: 1px;
  background-color: rgb(225, 234, 131);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  animation: textScroll infinite 1s linear alternate-reverse;
}

@keyframes textScroll {
  to {
    background-color: #01d3de;
  }
}

.card-logo {
  height: 150px;
}

.card-logo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 15px 15px 0 0;
}

.card-body {
  padding: 20px;
  height: 150px;
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  color: #040D35;
  margin-bottom: 15px;
}

.card-button {
  background: linear-gradient(to left, rgb(3, 3, 75), rgb(15, 15, 154));
  color: white;
  border-radius: 5px;
  margin: 7% 0;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}

@media all and (max-width:1200px) {
  .trending {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media all and (max-width:1024px) {
  .internship-content {
    grid-template-columns: 1fr;
  }

  .trending {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media all and (max-width:768px) {
  #ihead {
    font-size: 2.5rem;
    line-height: 50px;
  }

  .trending {
    grid-template-columns: repeat(1, minmax(350px, 0.6fr));
    justify-content: center;
  }

  .intern-banner h1 {
    line-height: 3rem;
    font-size: 1.7rem;
    padding: 10px;
  }

  .intern-form-con {
    /* display: block !important; */
    padding: 2%;
  }

  .intern-circle {
    /* display: none; */
  }
}

/* Form */

.neumorph {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 100%;
  margin-top: 4%;
}

.neoParent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
  width: 100%;
  z-index: 2;
  background-color: #e4e8ed;
}

.neoright {
  background-image: linear-gradient(155deg, #030c31, #150898);
}

.form-con-content h3 {
  color: white;
}

.neoForm {
  border-radius: 34px;
  box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #ffffff;
  background-color: #DDE2E8;
  padding: 2% 7%;
}

.neoMain {
  padding: 5% 0;
}

.neoHead {
  text-align: center;
}

.neoIcon {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background: #e8e8e8;
  box-shadow: inset 5px 5px 8px #bebebe,
    inset -5px -5px 8px #ffffff;
  display: grid;
  place-content: center;
}

.neoimg_bg {
  display: grid;
  place-items: center;
  margin: 5% 0;
}

#formlogo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.neoContent {
  display: flex;
  padding: 5% 0;
  justify-content: center;
}

#neoname,
#neonum,
#neomail {
  width: 400px;
  height: 60px;
  margin: 5% 0;
  background: #e4ecec;
  box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
  border: none;
  font-size: 20px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
}

:is(#neoname, #neonum, #neomail)::placeholder {
  text-align: center;
  color: black;
}

.neoselect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% 0;
  width: 100%;
}

.formqualify,
.formcourse {
  width: 48%;
}

#neoqua,
#neocourse {
  width: 100%;
  height: 60px;
  margin: 5% 0;
  background: #e4ecec;
  box-shadow: inset 5px 5px 10px #b8b8b8,
    inset -5px -5px 10px #ffffff;
  border: none;
  font-size: 20px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
}

.enq_btn {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

#neobtn {
  width: 200px;
  height: 60px;
  background-color: #000185;
  border: none;
  font-size: 20px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  color: white;
  margin-top: 20px;
  box-shadow: inset 20px 20px 18px #000035,
    inset -20px -20px 18px #0002d5;
  border-radius: 10px;
  cursor: pointer;
}

.form-contents {
  color: yellow;
}

@media all and (max-width: 1200px) {
  .neumorph {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 540px) {

  #neoname,
  #neonum,
  #neomail {
    width: 100%;
  }
}

.intern_text {
  display: grid;
  place-items: center;
}

.intern-form-con {
  display: grid;
  grid-template-columns: 1fr 10fr;
  width: 80%;
  gap: 25px;
  margin-top: 3%;
}

.intern-content {
  display: flex;
  flex-direction: column;
  /* width: 85%; */
  padding: 1.5% 0;
}

.intern-content p {
  padding: 2% 0;
  line-height: 25px;
  /* transform: translatey(15px); */
}

.intern-content h3 {
  /* line-height: 25px; */
  font-size: 24px;
  color: white;
  /* transform: translatey(15px); */
}