@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* .main_form h1,
.main_form h3,
.main_form p {
  font-weight: 400;
}

.Enquiry_head {
  width: 85%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
}

#enquiry_bg_img {
  height: 400px;
  width: 400px;
}

#enquiry_bg_text {
  font-size: 3.5rem;
}

#bg_text {
  background-clip: text;
  background-image: linear-gradient(155deg, #392dc4, #0af286);
  color: transparent;
  font-weight: bolder;
}

#form_head {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 20px;
  font-size: 45px;
  color: white;
  padding: 5% 0;
  margin-left: 35px;
}

.form-container {
  display: flex;
  justify-content: space-around;
  font-family: "Josefin Sans", sans-serif;
  margin: 4px;
  background-image: linear-gradient(155deg, #150898, #030c31);
  z-index: -5;
  padding: 4% 0;
}

.form-content {
  width: 40%;
  color: yellow;
  margin-top: 2%;
}

.form-con-content span {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.form-con {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  padding: 1.5% 0 1% 0;
  font-size: 1.2rem;
  position: relative;
}

.form-con-content {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 1.5% 0;
}

.form-con-content p {
  padding: 2% 0;
  line-height: 25px;
  transform: translatey(15px);
}

#form-one {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(88, 234, 247);
  border: none;
  color: black;
  place-content: center;
  font-weight: bold;
  font-size: 1.1 rem;
  z-index: 34;
}

.form-con-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-content-sub {
  position: relative;
}

.sideline::before {
  content: "";
  position: absolute;
  top: 3%;
  left: 5.7%;
  bottom: 0;
  z-index: 0;
  border-left: 2px dashed rgb(252, 252, 253);
}

.enquiry_bg {
  position: relative;
  z-index: 0;
}

.form-main-box {
  height: 200px;
  width: 200px;
  background-color: rgb(255, 19, 157);
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  filter: blur(10px);
  left: -10%;
  top: -10%;
  opacity: 1;
  transform: scale(1);
}

.form-main-box2 {
  height: 100px;
  width: 100px;
  background-color: rgb(255, 133, 19);
  position: absolute;
  z-index: -2;
  border-radius: 50%;
  right: 15%;
  top: 20%;
}

.form-main-box3 {
  height: 200px;
  width: 200px;
  background: linear-gradient(to bottom left, rgb(88, 234, 247), rgb(60, 127, 252));
  position: absolute;
  z-index: -2;
  border-radius: 50%;
  left: 50%;
  bottom: -25%;
  transform: translate(-50%, -50%);
  filter: blur(30px);
}

.form-main-box4 {
  height: 70px;
  width: 70px;
  background-color: rgb(231, 255, 47);
  position: absolute;
  z-index: -9;
  border-radius: 50%;
  right: -5%;
  filter: blur(10px);
  bottom: 20%;
}

.mainparent {
  width: 30%;
  /* padding: 5% 0; */
}

.subparent {
  height: 100%;
  position: relative;
  padding: 4% 0;
}

.enquiry_logo {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}

.logoanimate {
  position: relative;
}

.enquiry_logo>div {
  height: 107px;
  width: 107px;
  border-left: 3px solid aqua;
  border-bottom: 3px solid aqua;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes logo {
  100% {
    transform: rotate(360deg);
  }
}

#formlogo1 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
}

#formHead1 {
  color: white;
  margin: 3% 0;
}

.form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10% 0 7% 0;
  margin: 5% 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 50px;
  position: relative;
}

#form-main-border:hover {
  color: #255784;
  transition-delay: 1s;
}

#form-main-border .spanborder {
  position: absolute;
  display: block;
}

#form-main-border #s1 {
  top: 0;
  left: 0%;
  width: 90%;
  height: 2px;
  background: linear-gradient(90deg, transparent 45%, #02f9ff, transparent);
  border-radius: 50px;
}

#form-main-border #s3 {
  bottom: 0;
  right: 5%;
  width: 80%;
  height: 2px;
  background: linear-gradient(to right, transparent, #02f9ff, transparent 85%);
}

#form-main-border #s2 {
  top: 20%;
  right: 0;
  width: 2px;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(180deg, transparent, #02f9ff, transparent, transparent);
}


#form-main-border #s4 {
  bottom: 0%;
  left: 0;
  width: 2px;
  border-radius: 50px;
  height: 90%;
  background: linear-gradient(360deg, transparent 40%, #02f9ff, transparent);
}

.form-sub-content {
  width: 70%;
  margin: 2% auto;
}

#form-num::-webkit-inner-spin-button {
  appearance: none;
}

#form-name,
#form-mail,
#form-num {
  height: 50px;
  width: 100%;
  margin: 3% 0;
  border: none;
  border-radius: 3px;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 20px;
  outline: none;
  font-size: 1.5rem;
}

:is(#form-name, #form-mail, #form-num)::placeholder {
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #a7a5a5;
}

#name_label,
#mail_label,
#mobile_label {
  color: red;
  text-align: center;
}

#form-btn {
  height: 40px;
  width: 150px;
  border: none;
  background-color: white;
  border-radius: 30px;
}

.radiolg {}

#form-radio {
  color: white;
  display: flex;
  justify-content: space-between;
  accent-color: rgba(3, 34, 160, 0.909);
  font-size: 1.1rem;
  margin-top: 5%;
  width: 100%;
}

#form-radio>span {
  display: flex;
  justify-content: flex-end;
  width: 37.5%;
}

#form-radio-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 55%;

  span {
    width: 100%;
  }
}

input[type='radio']:checked {
  background-color: white;
}

.choose_drop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.course-select {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  /* width: 100%; */
}

#course-select {
  height: 50px;
  width: 160px;
  border: none;
  /* padding: 10px; */
  font-family: "Josefin Sans", sans-serif;
  border-radius: 3px;
  outline: none;
  color: rgba(3, 34, 160, 0.909);
  appearance: none;
  text-align: center;
  font-size: 1.1rem;
}

.form-btn {
  position: relative;
  padding: 15px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: white;
  color: rgba(3, 34, 160, 0.909);
  font-family: "Josefin Sans", sans-serif;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
  margin: 5% 0 0 0;
}

.form-btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-btn:hover {
  background: rgb(249, 249, 250);
  color: #fff;
  box-shadow: 0 0 17px 5px rgba(244, 245, 246, 0.815);
  color: rgba(3, 34, 160, 0.909);
}

.form-btn:hover::before {
  animation: sh02 0.5s 0s linear 2 alternate;
}

.form-btn::before {
  content: "";
  display: block;
  width: 0px;
  height: 75%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 5px 5px rgba(3, 34, 160, 0.909);
  transform: skewX(-30deg);
}

.form-btn:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}

@keyframes sh02 {
  0% {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}

/* Responsive */
@media all and (max-width: 1200px) {
  .mainparent {
    width: 40%;
  }

  .form-content {
    width: 45%;
  }

  #form-radio {
    flex-direction: column;
    align-items: center;
    padding: 1% 0;
  }

  #form-radio>span {
    justify-content: center;
    width: 55%;
  }

  #form-radio-btn {
    width: 70%;
    margin: 6% 0 0 7%;
  }

  .neumorph {
    grid-template-columns: 1fr;
  }

  .Enquiry_head {
    grid-template-columns: 1fr 2fr;
  }

}

/* Laptop  */

@media all and (max-width: 1024px) {
  .mainparent {
    width: 50%;
    margin: 10% 0;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-content {
    width: 75%;
  }

  .form-con-content {
    width: 80%;
  }

  .Enquiry_head {
    justify-content: space-between;
    align-items: center;
  }

  .sideline::before {
    left: 7.4%;
  }
}

/* Tab device */
@media all and (max-width: 768px) {
  .mainparent {
    width: 70%;
    margin: 15% 0;
  }

  .Enquiry_head {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .form-content {
    width: 90%;
  }

  .form-con-btn {
    width: 10%;
  }

  .form-con-content {
    width: 80%;
  }

  .choose_drop {
    flex-direction: column;
  }

  #form-radio {
    flex-direction: column;
    align-items: center;
    padding: 1% 0;
  }

  #form-radio-btn {
    width: 75%;
    margin: 6% 0 0 0;
  }

  #form-radio>span {
    justify-content: center;
    width: 100%;
  }

  .sideline::before {
    left: 8%;
  }
}

/* Mobile device */
@media all and (max-width: 540px) {
  #enquiry_bg_img {
    width: clamp(50px, 400px, 100%);
  }

  #enquiry_bg_text {
    font-size: 3rem;
  }

  #form_head {
    font-size: 33px;
  }

  .mainparent {
    width: 90%;
    padding: 5% 0;
    margin: 20% 0;
  }

  .form-con {
    padding: 5% 0;
  }

  .form-con h3 {
    font-size: 1.35rem;
  }

  .form-con p {
    font-size: 1.15rem;
    line-height: 25px;
  }

  .form-content {
    justify-content: space-between;
    text-align: justify;
  }

  .form-con-btn {
    width: 10%;
  }

  .form-con-content {
    width: 80%;
  }

  #form-radio-btn {
    width: 100%;
    margin: 6% 0 0 0;
  }

  #form-name,
  #form-mail,
  #form-num {
    font-size: 1.1rem;
  }

  .form-con-btn::before {
    content: "";
    position: absolute;
    /* left: 0%; */
    top: 40%;
    bottom: -15%;
  }


  #form-radio>span {
    justify-content: flex-start;
  }

}